<div class="container contact-us__content">
  <div class="contact-us__map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16232.767331288289!2d24.757717318633443!3d59.4314748270581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46929360020f9083%3A0x1de997ee15534f1d!2zUsOkdmFsYSBwc3QgOCwgMTAxNDUgVGFsbGlubiwg0K3RgdGC0L7QvdC40Y8!5e0!3m2!1sru!2sua!4v1672046157804!5m2!1sru!2sua" width="460" height="420" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="contact-us__info">
    <h2 class="contact-us__title"> {{ section.settings.title }}</h2>
    <div class="contact-us__subtitle"> {{ section.settings.subtitle }}</div>
    <div class="contact-us__icons-info">
      <div>
        {% render 'snippet' %}
        <span>{{ section.settings.icon-info-1 }}</span>
      </div>
      <div>
        {% render 'snippet' %}
        <span>{{ section.settings.icon-info-2 }}</span>
      </div>
      <div>
        {% render 'snippet' %}
        <span>{{ section.settings.icon-info-3 }}</span>
      </div>
    </div>
    <div class="contact-us__icons-social">
      <div>
        {% render 'snippet' %}
        <span>{{ section.settings.icon-social-1 }}</span>
      </div>
      <div>
        {% render 'snippet' %}
        <span>{{ section.settings.icon-social-2 }}</span>
      </div>
      <div>
        {% render 'snippet' %}
        <span>{{ section.settings.icon-social-3 }}</span>
      </div>
      <div>
        {% render 'snippet' %}
        <span>{{ section.settings.icon-social-4 }}</span>
      </div>
    </div>
    <div class="contact-us__question-block question-block">
      <div class="question-block__title">{{ section.settings.question_block_title }}</div>
      <div class="question-block__subtitle">{{ section.settings.question_block_subtitle }}</div></div>
      <div class="question-block__links">
        <div>
          <span>{{ section.settings.question_block_link-1 }}</span>
          {% render 'snippet' %}
        </div>
        <div>
          <span>{{ section.settings.question_block_link-2 }}</span>
          {% render 'snippet' %}
        </div>
        <div>
          <span>{{ section.settings.question_block_link-3 }}</span>
          {% render 'snippet' %}
        </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Us",
  "class": "contact-us",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Info icons block"
    },
    {
      "type": "richtext",
      "id": "icon-info-1",
      "label": "Adress"
    },
    {
      "type": "richtext",
      "id": "icon-info-2",
      "label": "Email"
    },
    {
      "type": "richtext",
      "id": "icon-info-3",
      "label": "Working Hours"
    },
    {
      "type": "header",
      "content": "Social icons block"
    },
    {
      "type": "richtext",
      "id": "icon-social-1",
      "label": "Messenger"
    },
    {
      "type": "richtext",
      "id": "icon-social-2",
      "label": "Telegram"
    },
    {
      "type": "richtext",
      "id": "icon-social-3",
      "label": "Instagram"
    },
    {
      "type": "richtext",
      "id": "icon-social-4",
      "label": "Facebook"
    }
  ],
  "presets": [
    {
      "name": "Contact Us"
    }
  ]
}
{% endschema %}
