{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<footer class="footer section-{{ section.id }}-padding">
  <div class="footer__logos container">
    <a class="footer__logo" href="{{ routes.root_url }}">
      {{ section.settings.footer_logo }}
    </a>
    <div class="footer__sertificates">
      <img class="footer__sertificate" src="{{ section.settings.sertificate_1 | image_url }}" alt="{{ section.settings.sertificate_1.alt }}">
      <img class="footer__sertificate" src="{{ section.settings.sertificate_2 | image_url }}" alt="{{ section.settings.sertificate_2.alt }}">
      <img class="footer__sertificate" src="{{ section.settings.sertificate_3 | image_url }}" alt="{{ section.settings.sertificate_3.alt }}">
    </div>
  </div>
  <hr>
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top container">
      {%- if section.blocks.size > 0 -%}
        <div class="footer__blocks-wrapper">
          {%- for block in section.blocks -%}
            <div class="footer-block">
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">{{ block.settings.heading | escape }}</h2>
              {%- endif -%}
              {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                <ul class="footer-block__details-content list-unstyled">
                  {%- for link in block.settings.menu.links -%}
                    <li>
                      <a href="{{ link.url }}" class="footer__menu-link">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endfor -%}
          <div class="footer-block footer-block--newsletter">
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="social">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="social__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="your email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="Your email"
                      required
                    >
                    <button type="submit" class="newsletter-form__button social__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                      Join
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                {%- endif -%}
              {%- endform -%}
            </div>
            {%- if section.settings.show_social -%}
            <ul class="footer__list-social list-unstyled list-social" role="list">
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_linkedin_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_linkedin_link }}" class="link list-social__link" >
                    {%- render 'icon-linkedin' -%}
                    <span class="visually-hidden">{{ 'general.social.links.linkedin' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
            {%- endif -%}
          {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
  <hr>
  <div class="footer__content-bottom container">
    <div class="footer__copyright caption">
      <small class="copyright__content">Copyrights © {{ 'now' | date: "%Y" }}, <br class="footer__br"> All Rights Reserved by Bloc Enterprises</small>
      <div class="copyright__drop">
        <small class="copyright__content">Drop In, Drink Up</small>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="none"><defs></defs><path fill="#00BAF2" fill-rule="evenodd" d="M5.732 0C3.37 5.023 0 6.427 0 10.012c0 3.06 2.363 5.566 5.732 5.566 3.367 0 5.73-2.507 5.73-5.566 0-3.585-3.368-4.989-5.73-10.012z" clip-rule="evenodd"></path></svg>
      </div>
    </div>
  </div>
  <img class="footer__bg" src="{{ section.settings.logo_bg | image_url }}" alt="{{ section.settings.logo_bg.alt }}">
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Footer logo",
      "info": "Add SVG code"
    },
    {
      "type": "html",
      "id": "footer_logo",
      "label": "SVG code"
    },
    {
      "type": "header",
      "content": "Sertificates",
      "info": "Add image of sertificates"
    },
    {
      "type": "image_picker",
      "id": "sertificate_1",
      "label": "Sertificate-1"
    },
    {
      "type": "image_picker",
      "id": "sertificate_2",
      "label": "Sertificate-2"
    },
    {
      "type": "image_picker",
      "id": "sertificate_3",
      "label": "Sertificate-3"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "Footer background image",
      "info": "Add .png image of background image"
    },
    {
      "type": "image_picker",
      "id": "logo_bg",
      "label": "Add image"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}